/*для всех элементов по default*/
*{
	margin: 0;
	padding: 0;
}

/*шрифты*/
@font-face{
	font-family: ArialR; 
	src: url(fonts/Arial-regular.ttf); 
}
@font-face{
	font-family: ArialB; 
	src: url(fonts/Arial-bold.ttf); 
}
@font-face{
	font-family: Exo2B; 
	src: url(fonts/Exo2-bold.ttf); 
}
@font-face{
	font-family: FuturaBTB; 
	src: url(fonts/FuturaBT-bold.ttf); 
}
@font-face{
	font-family: FuturaN; 
	src: url(fonts/Futura-normal.ttf); 
}
@font-face{
	font-family: HelveticaNeueCyrB; 
	src: url(fonts/HelveticaNeueCyr-bold.ttf); 
}
@font-face{
	font-family: HelveticaNeueCyrR; 
	src: url(fonts/HelveticaNeueCyr-roman.ttf); 
}
@font-face{
	font-family: MyriadProR; 
	src: url(fonts/MyriadPro-regular.ttf); 
}
@font-face{
	font-family: Parangon530CR; 
	src: url(fonts/Parangon530C-regular.ttf); 
}
@font-face{
	font-family: PTSansC; 
	src: url(fonts/PTSans-caption.ttf); 
}
@font-face{
	font-family: TahomaB; 
	src: url(fonts/Tahoma-bold.ttf); 
}

/*ограничитель*/
.container{
	max-width: 1600px;
	padding: 0 50px;
	margin: 0 auto;
}

/*заголовки*/
h1.title{ /*заголовок 1-го уровня*/
	font-family: Parangon530CR;
	color: #fff;
	font-size: 64px;
	width: 80%;
	text-align: center;
	margin: 0 auto;
}
p.sub-title{ /*текст для заголовка 1-го уровня*/
	font-family: PTSansC;
	color: #fff;
	font-size: 28px;
	width: 55%;
	text-align: center;
	margin: 0 auto;
	line-height: 1.7;
}
h2.title{ /*заголовок 2-го уровня*/
	font-family: HelveticaNeueCyrB;
	font-size: 48px;
}
h3.title{ /*заголовок 3-го уровня*/

}
h4.title{ /*заголовок 4-го уровня*/
	font-family: ArialB;
	font-size: 28px;
}

/*задний фон + заливка*/
header .bg{
	background: url(imgs/header_bg.png) center no-repeat;
	background-size: cover;
	padding: 200px 0;
	position: relative;
	z-index: -1;
}
header .bg::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 9, 128, .6);;
	z-index: -1;
}

/*отступы*/
header h1.title{
	margin-bottom: 50px;
}
header p.sub-title{
	margin-bottom: 100px;
}

/*выравнивание блоков в/изнутри*/
header .blocks{
	display: flex;
	justify-content: space-between;
	width: 60%;
	margin: 0 auto;
	transform: translateX(40px);
}
header .block{
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid #fff;
	border-top: 0;
}
header .block::before,
header .block::after{
	content: '';
	position: absolute;
	top: 0;
	width: 40%;
	height: 2px;
	background-color: #fff;
}

/*действия с отдельными блоками*/
header .block:nth-child(1){/*----------------------------------------1 блок*/
	padding: 50px 50px 40px 50px;
	position: relative;
}
header .block:nth-child(1)::before{
	left: 0;
}
header .block:nth-child(1)::after{
	left: 50%;
	transform: translateX(25%); /*gj[*/
}
header .block:nth-child(2){/*----------------------------------------2 блок*/
	padding: 50px 80px 40px 80px;
	position: relative;
}
header .block:nth-child(2)::before{
	left: 0;
}
header .block:nth-child(2)::after{
	left: 50%;
	transform: translateX(25%); /*gj[*/
}
header .block:nth-child(3){/*----------------------------------------3 блок*/
	padding: 50px 20px 40px 20px;
	position: relative;
}
header .block:nth-child(3)::before{
	left: 0;
}
header .block:nth-child(3)::after{
	left: 50%;
	transform: translateX(25%); /*gj[*/
}

/*контент в блоках*/
header img{
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%,-50%);
}
header p.number{
	font-family: Parangon530CR;
	color: #fff;
	font-size: 64px;
}
header p.text{
	font-family: PTSansC;
	color: #fff;
	font-size: 24px;
	white-space: nowrap;
}

/*меню навигации*/
header nav{
	border-bottom: 2px solid rgba(0, 0, 0, .4);
	margin-bottom: 200px;
}
header nav ul{
	display: flex;
	justify-content: right;
}
header nav ul li{
	list-style-type: none;
	margin-left: 50px;
	padding: 50px 0;
}
header nav ul li a{
	text-decoration: none;
	font-family: FuturaN;
	font-size: 36px;
	color: #000;
}
header nav ul li a:hover{
	color: #f6ae48;
}

/*блок «студия»*/
main .studio{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 200px;
}
/*контент блока*/
main .studio p.text{
	display: inline-block;
	font-family: PTSansC;
	width: 60%;
	font-size: 24px;
	display: block;
	position: relative;
}
main .studio span.text-back{
	position: absolute;
	top: -150px;
	left: -100px;
	font-family: TahomaB;
	font-size: 350px;
	color: rgba(0, 0, 0, .05);
}

/*блок «функции»*/
main .functions{
	display: flex;
	justify-content: space-between;
}
/*контент блока*/
main .functions .block{
	width: 30%;
}
main .functions .block img{
	margin-bottom: 25px;
}
main .functions .block h4{
	margin-bottom: 25px;
}
main .functions .block p.text{
	font-family: ArialR;
	font-size: 24px;
}

@media (max-width: 1600px){

}