/*для всех элементов по default*/
*{
	margin: 0;
	padding: 0;
}

/*шрифты*/
@font-face{
	font-family: ArialR; 
	src: url(fonts/Arial-regular.ttf); 
}
@font-face{
	font-family: ArialB; 
	src: url(fonts/Arial-bold.ttf); 
}
@font-face{
	font-family: Exo2B; 
	src: url(fonts/Exo2-bold.ttf); 
}
@font-face{
	font-family: FuturaBTB; 
	src: url(fonts/FuturaBT-bold.ttf); 
}
@font-face{
	font-family: FuturaN; 
	src: url(fonts/Futura-normal.ttf); 
}
@font-face{
	font-family: HelveticaNeueCyrB; 
	src: url(fonts/HelveticaNeueCyr-bold.ttf); 
}
@font-face{
	font-family: HelveticaNeueCyrR; 
	src: url(fonts/HelveticaNeueCyr-roman.ttf); 
}
@font-face{
	font-family: MyriadProR; 
	src: url(fonts/MyriadPro-regular.ttf); 
}
@font-face{
	font-family: Parangon530CR; 
	src: url(fonts/Parangon530C-regular.ttf); 
}
@font-face{
	font-family: PTSansC; 
	src: url(fonts/PTSans-caption.ttf); 
}
@font-face{
	font-family: TahomaB; 
	src: url(fonts/Tahoma-bold.ttf); 
}

/*линия прогресса*/
.progress{
	width: 0%;
	height: 4px;
	background-color: #00b9e7;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

/*кнопка наверх*/
a.up{
	position: fixed;
	transition: .5s ease;
	bottom:  -10%;
	right: 5%;
	padding: 25px 30px;
	border-radius: 25px;
	z-index: 1;
	background-color: rgba(255, 255, 255, .5);
}
a.up img{
	transform: rotate(-90deg);
	width: 50px;
	height: 50px;
}

/*ограничитель*/
.container{
	max-width: 1600px;
	padding: 0 100px;
	margin: 0 auto;
}

/*заголовки*/
h1.title{ /*заголовок 1-го уровня*/
	font-family: Parangon530CR;
	color: #fff;
	font-size: 64px;
	width: 80%;
	text-align: center;
	margin: 0 auto;
}
p.subtitle{ /*текст для заголовка 1-го уровня*/
	font-family: PTSansC;
	color: #fff;
	font-size: 28px;
	width: 55%;
	text-align: center;
	margin: 0 auto;
	line-height: 1.7;
}
h2.title{ /*заголовок 2-го уровня*/
	font-family: HelveticaNeueCyrB;
	font-size: 48px;
}
h3.title{ /*заголовок 3-го уровня*/
	font-family: Parangon530CR;
	font-size: 36px;
}
h4.title{ /*заголовок 4-го уровня*/
	font-family: ArialB;
	font-size: 28px;
}

/*задний фон + заливка*/
header .bg{
	background: url(imgs/header_bg.png) center no-repeat;
	background-size: cover;
	padding: 200px 0;
	position: relative;
	z-index: 0;
}
header .bg::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 9, 128, .6);
	z-index: -1;
}

/*отступы*/
header h1.title{
	margin-bottom: 50px;
}
header p.subtitle{
	margin-bottom: 100px;
}

/*выравнивание блоков в/изнутри*/
header .blocks{
	display: flex;
	justify-content: space-between;
	width: 60%;
	margin: 0 auto;
}
header .block{
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid #fff;
	border-top: 0;
}
header .block::before,
header .block::after{
	content: '';
	position: absolute;
	top: 0;
	width: 40%;
	height: 2px;
	background-color: #fff;
}

/*действия с отдельными блоками*/
header .block:nth-child(1){/*----------------------------------------1 блок*/
	padding: 50px 50px 40px 50px;
	position: relative;
}
header .block:nth-child(1)::before{
	left: 0;
}
header .block:nth-child(1)::after{
	left: 50%;
	transform: translateX(25%); /*gj[*/
}
header .block:nth-child(2){/*----------------------------------------2 блок*/
	padding: 50px 80px 40px 80px;
	position: relative;
}
header .block:nth-child(2)::before{
	left: 0;
}
header .block:nth-child(2)::after{
	left: 50%;
	transform: translateX(25%); /*gj[*/
}
header .block:nth-child(3){/*----------------------------------------3 блок*/
	padding: 50px 20px 40px 20px;
	position: relative;
}
header .block:nth-child(3)::before{
	left: 0;
}
header .block:nth-child(3)::after{
	left: 50%;
	transform: translateX(25%); /*gj[*/
}

/*контент в блоках*/
header img{
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%,-50%);
}
header p.number{
	font-family: Parangon530CR;
	color: #fff;
	font-size: 64px;
}
header p.text{
	font-family: PTSansC;
	color: #fff;
	font-size: 24px;
	white-space: nowrap;
}

/*меню навигации*/
header nav{
	border-bottom: 2px solid rgba(0, 0, 0, .4);
	margin-bottom: 200px;
}
header nav ul{
	display: flex;
	justify-content: right;
}
header nav ul li{
	list-style-type: none;
	margin-left: 50px;
	padding: 50px 0;
}
header nav ul li a{
	text-decoration: none;
	font-family: FuturaN;
	font-size: 36px;
	color: #000;
}
header nav ul li a:hover{
	color: #f6ae48;
}

/*блок «студия»*/
main .studio{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 200px;
}
/*контент блока*/
main .studio p.text{
	display: inline-block;
	font-family: PTSansC;
	width: 60%;
	font-size: 24px;
	display: block;
	position: relative;
}
main .studio span.text-back{
	position: absolute;
	top: -150px;
	left: -100px;
	font-family: TahomaB;
	font-size: 350px;
	color: rgba(0, 0, 0, .05);
	z-index: -1;
}

/*блок «функции»*/
main .functions{
	display: flex;
	justify-content: space-between;
	margin-bottom: 250px;
}
/*контент блока*/
main .functions .block{
	width: 30%;
}
main .functions .block img{
	margin-bottom: 25px;
}
main .functions .block h4{
	margin-bottom: 25px;
}
main .functions .block p.text{
	font-family: ArialR;
	font-size: 24px;
}

/*блок «кредо»*/
main .credo{
	background: url(imgs/credo_bg.png) center no-repeat;
	background-size: cover;
	padding: 200px 0;
	position: relative;
	z-index: 0;
	margin-bottom: 200px;
}
main .credo::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 9, 128, .6);
	z-index: -1;
}
/*контент блока*/
main .credo h1.title{
	font-family: Exo2B;
	margin-bottom: 50px;
}
main .credo p.subtitle{
	width: 80%;
}

/*блок «разработки»*/
main .development{
	display: flex;
	justify-content: center;
	position: relative;
	margin-bottom: 200px;
}
/*задний блок*/
main .development .development-block{
	position: absolute;
	top: -300px;
	left: 150px;
	width: 650px;
	height: 550px;
	background-color: #f6ae48;
	overflow: hidden;
	box-sizing: border-box;
	padding-top: 235px;
}
main .development .development-block::before{
	content: '';
	position: relative;
}
/*контент заднего блока*/
main .development .development-block img{
	position: absolute;
}
main .development .development-block img:nth-child(1){
	width: 175px;
	top: 10px;
	left: -86px;
	animation: gear_1 10s infinite linear;
}
@keyframes gear_1{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
main .development .development-block img:nth-child(2){
	width: 135px;
	top: 110px;
	left: 70px;
	animation:gear_2 10s infinite linear;
}
@keyframes gear_2{
	0%{
		transform: rotate(-50deg);
	}
	100%{
		transform: rotate(-410deg);
	}
}
main .development .development-block img:nth-child(3){
	width: 115px;
	top: 195px;
	left: -20px;
	animation: gear_3 10s infinite linear;
}
@keyframes gear_3{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
main .development .development-block img:nth-child(4){
	width: 200px;
	top: -30px;
	right: -70px;
	animation: gear_4 10s infinite linear;
}
@keyframes gear_4{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(-360deg);
	}
}
main .development .development-block p{
	text-align: center;
	font-family: Parangon530CR;
	color: #fff;
	font-size: 56px;
}

/*контент блока*/
main .development .block{
	position: relative;
	margin: 0 10px;
}
main .development .block .info{
	opacity: 0; /*с этим значением работаем в js при появлении*/
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .6);
	padding: 60px 45px 30px 30px;
	box-sizing: border-box;
	transition: .5s;
	overflow: hidden;
	pointer-events: none; /*кликабельность*/
}

/*что появляется при наводке + затемнение что сверху*/
main .development .block .info p.title{
	font-family: FuturaBTB;
	color: #fff;
	font-size: 56px;
	margin-bottom: 10px;
}
main .development .block .info#info_2 p.title,
main .development .block .info#info_3 p.title{
	font-family: Exo2B;
	font-size: 52px;
}
main .development .block .info#info_2 p.title{
	margin-bottom: 65px;
}
main .development .block .info hr{
	border: 0;
	height: 1px;
	background-color: white;
	width: 90%;
	margin-bottom: 50px;
}
main .development .block .info .price_arrow{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
main .development .block .info .price_arrow .price{
	font-family: MyriadProR;
	font-size: 24px;
	color: #fff;
	padding: 10px 20px;
	border: 3px solid #00b9e7;
	position: relative;
	z-index: 0;
	overflow: hidden;
	pointer-events: auto;
	cursor: default;

}
main .development .block .info#info_2 .price_arrow .price{
	border-color: #ffcb00;
}
main .development .block .info#info_3 .price_arrow .price{
	border-color: #66bf0d;
}
main .development .block .info .price_arrow .price span{
	position: absolute;
	top: 0%;
	left: -100%;
	transition: .3s;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: #00b9e7;
}
main .development .block .info#info_2 .price_arrow .price span{
	background-color: #ffcb00;
}
main .development .block .info#info_3 .price_arrow .price span{
	background-color: #66bf0d;
}
main .development .block .info .price_arrow img{
	width: 35px;
	height: 35px;
	pointer-events: auto;
}

/*блок «первое место»*/
main .first-place{
	display: flex;
	align-items: center;
	margin-bottom: 150px;
}
/*контент блока*/
main .first-place .info{
	width: 50%;
}
main .first-place .info h2{
	font-family: Parangon530CR;
	font-size: 38px;
	position: relative;
	margin-bottom: 50px;
}
main .first-place .info p.text-back{
	font-family: TahomaB;
	font-size: 84px;
	position: absolute;
	top: -35px;
	left: -50px;
	z-index: -1;
	color: rgba(0, 0, 0, .1);
}
main .first-place .info p.text{
	font-family: ArialR;
	font-size: 24px;
	line-height: 2;
}
main .first-place .imgs{
	display: flex;
	flex-direction: column;
	width: 50%;
}
main .first-place .imgs img{
	width: 250px;
	margin: 0 auto;
}
main .first-place .imgs img:first-child{
	margin-bottom: 40px;
}

/*блок «наши проекты»*/
main .our-projects{
	background-color: #303263;
	margin-bottom: 150px;
}
/*контент блока*/
/*верх*/
main .our-projects .text{
	font-family: Parangon530CR;
	text-align: center;
	margin: 0 auto;
	color: #fff;
	font-size: 36px;
	position: relative;
	z-index: 0;
	padding: 50px 0;
}
main .our-projects .text span{
	font-family: TahomaB;
	font-size: 96px;
	color: rgba(255, 255, 255, .25);
	position: absolute;
	top: 5px;
	left: 50%;
	transform: translate(-50%,0);
	z-index: -1;
}
main .our-projects .blocks_up{
	margin-bottom: 25px;
}
/*низ*/
main .our-projects button{
	font-family: Parangon530CR;
	font-size: 36px;
	padding: 25px 35px;
	color: #fff;
	background-color: rgba(255, 255, 255, .25);
	border: 0;
	border-radius: 20px;
	margin-bottom: 25px;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
}
/*середина*/
main .our-projects .blocks_up{
	display: flex;
	flex-wrap: wrap;
}
main .our-projects .blocks_up img:nth-child(1){
	width: 50%;
}
main .our-projects .blocks_up img:nth-child(2){
	width: 50%;
}
main .our-projects .blocks_up img:nth-child(3){
	width: 25%;
}
/*работа с блоком*/
main .our-projects .blocks_up .nth-child_4{
	width: 25%;
	position: relative;
}
main .our-projects .blocks_up .nth-child_4::before{
	content: '';
	vertical-align: middle;
	position: absolute;
	top: 3%;
	left: 3%;
	width: 94%;
	height: 94%;
	background-color: #f6ae48;
	opacity: 84%;
}
main .our-projects .blocks_up .nth-child_4 .block-text{
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%,-50%);
}
main .our-projects .blocks_up .nth-child_4 .block-text p.title{
	font-family: Exo2B;
	font-size: 84px;
	color: #fff;
}
main .our-projects .blocks_up .nth-child_4 .block-text p.sub-title{
	font-family: Exo2B;
	font-size: 42px;
	color: #fff;
}
main .our-projects .blocks_up .nth-child_4 img{
	width: 100%;
	height: 100%;
}
/*----------------*/
main .our-projects .blocks_up img:nth-child(5){
	width: 25%;
}
main .our-projects .blocks_up img:nth-child(6){
	width: 25%;
}

/*блок «адаптив»*/
main .adaptive{
	display: flex;
	margin-bottom: 175px;
}
/*контент блока*/
main .adaptive .info{
	width: 50%;
	padding: 150px 5% 0px 10%;
}
main .adaptive .info h2{
	font-family: Parangon530CR;
	font-size: 38px;
	position: relative;
	margin-bottom: 50px;
}
main .adaptive .info p.text-back{
	font-family: TahomaB;
	font-size: 84px;
	position: absolute;
	top: -35px;
	left: -50px;
	z-index: -1;
	color: rgba(0, 0, 0, .1);
}
main .adaptive .info p.text{
	font-family: ArialR;
	font-size: 24px;
	line-height: 2;
}
main .adaptive .imgs{
	width: 50%;
	position: relative;
	overflow: hidden;
}
main .adaptive .imgs img{
	position: absolute;
	bottom: 0;
}
main .adaptive .imgs img:nth-child(1){
	left: 5%;
}
main .adaptive .imgs img:nth-child(2){
	left: 30%;
}
main .adaptive .imgs img:nth-child(3){
	left: 70%;
}

/*блок «обмен»*/
main .trade-in{
	background: url(imgs/trade-in_bg.png) no-repeat;
	background-size: cover;
	padding: 75px 0 50px 0;
	position: relative;
	z-index: 0;
	margin-bottom: 150px;
}
main .trade-in::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	z-index: -1;
}
/*контент блока*/
main .trade-in h1.title{
	font-family: HelveticaNeueCyrB;
	margin-bottom: 100px;
}
main .trade-in .blocks{
	max-width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}
main .trade-in .blocks .block{
	width: 30%;
}
main .trade-in .blocks .block .block_up{
	display: flex;
	align-items: center;
	margin-bottom: 25px;
}
main .trade-in .blocks .block .block_up img{
	margin-right: 25px;
	height: 67px;
}
main .trade-in .blocks .block .block_up h3{
	color: #fff;
	white-space:  nowrap;
}
main .trade-in .blocks .block .block_down p.text{
	font-family: ArialR;
	color: #fff;
	font-size: 24px;
	line-height: 1.5;
}
main .trade-in button{
	font-family: HelveticaNeueCyrB;
	font-size: 28px;
	color: #fff;
	padding: 20px 25px;
	background-color: #f6ae48;
	border: 0;
	border-radius:20px;
	position: relative;
	top: 0;
	left: 50%;
	transform: translate(-50%,0);
}

/*блока «забота»*/
main .care{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 175px;
}
/*контент блока*/
main .care .info{
	width: 40%;
}
main .care .info h2{
	font-family: Parangon530CR;
	font-size: 38px;
	position: relative;
	margin-bottom: 50px;
}
main .care .info p.text-back{
	font-family: TahomaB;
	font-size: 84px;
	position: absolute;
	top: -35px;
	left: -50px;
	z-index: -1;
	color: rgba(0, 0, 0, .1);
}
main .care .info p.text{
	font-family: ArialR;
	font-size: 24px;
	line-height: 2;
}
main .care .imgs{
	width: 50%;
}
main .care .imgs img{
	display: block;
	margin: 0 auto;
}

/*блок «контакт»*/
main .contact{
	background: url(imgs/сontact-us_bg.png) no-repeat;
	background-size: cover;
	padding: 100px 0;
	position: relative;
	z-index: 0;
}
main .contact::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 9, 128, .4);
	z-index: -1;
}
/*контент блока*/
main .contact .container{
	display: flex;
	justify-content: space-between;
}

/*текст*/
main .contact .text{
	width: 30%;
}
main .contact .text p.title{
	font-family: Parangon530CR;
	color: #fff;
	font-size: 40px;
	margin-bottom: 50px;
}
main .contact .text p.sub-title{
	font-family: ArialR;
	font-size: 24px;
	color: #fff;
}

/*форма*/
main .contact form{
	width: 50%;
}
main .contact form input,
main .contact form textarea{
	font-family: ArialR;
	padding: 10px 20px;
	color: #fff;
	font-size: 18px;
	border: 5px solid #fff;
	background-color: rgba(0, 0, 0, 0);
	outline: none;
	box-sizing: border-box;
}
main .contact form input::placeholder,
main .contact form textarea::placeholder{
	color: #fff;
}
main .contact form input{
	width: 100%;
	border-bottom: 0;
}
main .contact form .inputs{
	display: flex;
}
main .contact form .inputs input{
	width: 50%;
}
main .contact form .inputs input:first-child{
	border-right: 0;
}
main .contact form textarea{
	width: 100%;
	resize: none;
	height: 200px;
	margin-bottom: 10px;
}
main .contact form .button{
	display: flex;
	justify-content: space-between;
	align-items: start;	
}
main .contact form .button p.text_button{
	font-family: ArialR;
	color: #fff;
	font-size: 16px;
	padding-left: 25px;
}
main .contact form .button button{
	font-family: Parangon530CR;
	padding: 15px 30px;
	background-color: #f6ae48;
	color: #fff;
	border: 0;
	border-radius: 15px;
	cursor: pointer;
}
footer{
	width: 100%;
	height: 100px;
	background-color: #f6ae48;
}

@media (max-width: 1600px){
		/*ограничитель*/
	.container{
		max-width: 1300px;
	}

		/*выравнивание блоков в/изнутри*/
	header .blocks{
		width: 70%;
	}

	main .development .development-block {
		left: 50px;
	}

	main .adaptive .imgs img:nth-child(3) {
		left: 75%;
	}

		/*контент блока*/
	main .trade-in h1.title {
		margin-bottom: 50px;
	}
	main .trade-in .blocks{
		flex-direction: column;
		margin-bottom: 50px;
	}
	main .trade-in .blocks .block{
		width: 100%;
		margin-bottom: 50px
	}
}
@media (max-width: 1440px){

	header .blocks{
		justify-content: center;
		flex-wrap: wrap;
		width: 50%;
	}
	header .block:nth-child(1) {
		width: 50.01%; /*чтобы был перенос*/
		box-sizing: border-box;
		margin-bottom: 50px;
	}
	header .block:nth-child(2) {
		width: 46%;
		box-sizing: border-box;
		margin-right: 4%;
	}
	header .block:nth-child(3) {
		width: 46%;
		box-sizing: border-box;
		margin-left: 4%;
	}

	main .functions {
		flex-direction: column;
	}
	main .functions .block{
		width: 100%;
		margin-bottom: 50px;
	}
	main .functions .block:last-child{
		margin-bottom: 0;
	}

	main .development .development-block {
		left: 50%;
		transform: translateX(-50%);
	}

	main .care .info p.text-back, 
	main .first-place .info h2,
	main .adaptive .info h2{
		white-space: nowrap;
	}

	main .first-place .imgs img {
		margin: 0 0 0 auto;
	}
}
@media (max-width: 1280px){
	header .container {
		max-width: 1600px;
		padding: 0 50px;
		margin: 0 auto;
	}

	main .development .development-block {
		top: -350px;
	}
	main .development {
		flex-direction: column;
		align-items: center;
	}
	main .development .block{
		margin: 0 0 25px 0;
		width: 40%;
	}
	main .development .block img{
		width: 100%;
	}
	main .development .block .info p.title {
		font-size: 72px;
	}
	main .development .block .info .price_arrow .price {
		font-size: 30px;
		padding: 15px 25px;
	}
	main .development .block .info .price_arrow img {
		width: 45px;
		height: 45px;
	}
	main .development .block .info hr {
		margin-bottom: 18%;
	}

	header .blocks {
		justify-content: center;
		flex-wrap: wrap;
		width: 58%;
	}

	main .our-projects .text span {
		white-space: nowrap;
	}

	main .our-projects .blocks_up img:nth-child(1) {
		width: 100%;
		order: 1;
	}
	main .our-projects .blocks_up img:nth-child(2) {
		width: 100%;
		order: 6;
	}
	main .our-projects .blocks_up img:nth-child(3) {
		width: 50%;
		order: 3;
	}
	main .our-projects .blocks_up .nth-child_4{
		width: 50%;
		order: 4;
	}
	main .our-projects .blocks_up img:nth-child(5) {
		width: 50%;
		order: 5;
	}
	main .our-projects .blocks_up img:nth-child(6) {
		width: 50%;
		order: 2;
	}

	main .our-projects {
		background-color: #303263;
		margin-bottom: 0;
	}

	main .adaptive .imgs {
		width: 50%;
		position: relative;
		overflow: visible;
	}
	main .adaptive{
		display: flex;
		margin-bottom: 0px;
		position: relative;
		overflow: hidden;
	}
	main .adaptive .info{
		padding: 200px 0 200px 100px;
		box-sizing: border-box;
	}
	main .adaptive .imgs img:nth-child(1){
		bottom: -10%;
		left: -30%;
	}
	main .adaptive .imgs img:nth-child(2){
		bottom: 10%;
		left: 15%;
	}
	main .adaptive .imgs img:nth-child(3){
		top: 10%;
		right: 20%;
	}

	main .care .info h2 {
		white-space: nowrap;
	}

	main .contact form .button p.text_button {
		padding: 0 25px 0 25px
	}
	main .contact .text {
		width: 40%;
	}
}
@media (max-width: 1080px){
	/*заголовки*/
	h1.title{ /*заголовок 1-го уровня*/
		font-family: Parangon530CR;
		color: #fff;
		font-size: 64px;
		width: 80%;
		text-align: center;
		margin: 0 auto;
	}
	p.subtitle{ /*текст для заголовка 1-го уровня*/
		font-family: PTSansC;
		color: #fff;
		font-size: 36px;
		width: 55%;
		text-align: center;
		margin: 0 auto;
		line-height: 1.7;
	}
	h2.title{ /*заголовок 2-го уровня*/
		font-family: HelveticaNeueCyrB;
		font-size: 72px;
	}
	h3.title{ /*заголовок 3-го уровня*/
		font-family: Parangon530CR;
		font-size: 36px;
	}
	h4.title{ /*заголовок 4-го уровня*/
		font-family: ArialB;
		font-size: 28px;
	}

	header nav{
		display: flex;
		justify-content: right;
	}

	body.noscroll{
		overflow: hidden;
	}

	/*невидимое меню, которое актуально только при полном разрешении (1601-1920)*/
	header nav ul{
		display: none;
	}

	/*кнопка (бургер)*/
	header nav .hamb{
		display: block;
		padding: 25px;
		cursor: pointer;
	}
	header nav .hamb .bar{
		display: block;
		width: 60px;
		height: 4px;
		background-color: #000;
		margin: 12px 0;
		transition: .2s;
	}
	header nav .hamb.active .bar:nth-child(1){
		transform: translateY(16px) rotate(45deg);
	}
	header nav .hamb.active .bar:nth-child(2){
		opacity: 0;
	}
	header nav .hamb.active .bar:nth-child(3){
		transform: translateY(-16px) rotate(-45deg);
	}

	/*рабочая среда для бургера*/
	header .popup{
		display: block;
		position: fixed;
		top: 110px;
		left: 100%;
		width: 100%;
		height: 100%;
		background-color: #303263;
		z-index: 5;
		transition: .3s;
		overflow:  scroll;
	}
	header .popup.open{
		left: 0;
	}

	/*меню в бурегере*/
	/*! проблема со скроллом*/
	header .popup ul{
		display: block;
		width: 100%;
		height: 100%;
		margin-top: 50px
	}
	header .popup li{
		display: flex;
		flex-direction: column;
		/*margin-bottom: 75px;*/
	}
	header .popup li a{
		width: 100%;
		text-align: center;
		font-size: 28px;
		text-decoration: none;
		padding: 80px 0;
		font-family: FuturaN;
		color: #fff;
		font-weight: bold;
		text-transform: uppercase;
	}
	header .popup .container{
		padding: 0;
	}

	/*удаление элемента при разрешении*/
	main .care .imgs img { 
		display: none
	}

	p.subtitle {
		width: 80%;
	}
	header .blocks {
		flex-direction: column;
		align-items: center;
	}
	header .block:nth-child(1){
		width: 90%;
		margin-bottom: 70px;
	}
	header .block:nth-child(2) {
		width: 90%;
		margin-right: 0;
		margin-bottom: 70px;
	}
	header .block:nth-child(3) {
		width: 90%;
		margin-left: 0;
	}
	header p.number {
		font-size: 74px;
	}
	header p.text {
		font-size: 28px;
	}

	header .popup li a {
		font-size: 36px;
		padding: 60px 0;
	}

	main .studio{
		flex-direction: column;
	}
	h2.title {
		margin-bottom: 75px;
	}
	main .studio p.text {
		font-size: 36px;
		text-align: center;
		width: 100%;
		font-size: 32px;
		line-height: 1.5;
	}
	main .studio span.text-back {
		top: -150px;
		left: 50%;
		transform: translate(-50%);
	}

	main .functions .block{
		margin-bottom: 100px;
	}
	main .functions .block:last-child{
		margin-bottom: 0;
	}
	main .functions .block img {
		display: block;
		margin: 0 auto 25px auto;
		width: 50px;
	}
	main .functions .block:nth-child(3) img{
		display: block;
		margin: 0 auto 25px auto;
		width: 100px;
	}
	main .functions .block h4 {
		font-size: 62px;
		text-align: center;
		margin-bottom: 50px
	}
	main .functions .block p.text {
		font-size: 28px;
		text-align: center;
		line-height: 1.5;
	}

	main .development .block {
		margin: 0 0 25px 0;
		width: 60%;
	}
	main .development .block .info {
		opacity: 1;
	}
	main .development .block .info p.title {
		font-size: 64px;
	}
	main .development .block .info hr {
		margin-bottom: 10%; 
	}main .development .development-block {
		width: 550px;
		height: 450px;
	}
	main .development .development-block img:nth-child(1) {
		top: -50px;
		left: -86px;
	}
	main .development .development-block img:nth-child(2) {
		top: 50px;
		left: 70px;
	}
	main .development .development-block img:nth-child(3) {
		top: 135px;
		left: -20px;
	}
	main .development .development-block{
		padding-top: 250px;
	}

	main .first-place .info h2 {
		font-size: 42px;
	}
	main .first-place .info p.text-back {
		top: -35px;
		left: 50%;
		transform: translate(-50%);
	}
	main .first-place .info p.text {
		font-size: 28px;
		line-height: 1.5;
		margin-bottom: 50px;
	}
	main .first-place .imgs {
		width: 100%;
	}
	main .first-place .imgs img {
		margin: 0 auto;
	}

	main .our-projects .text span {
		top: 20px;
		font-size: 77px;
		opacity: .4;
	}
	main .our-projects .blocks_up img:nth-child(3),
	main .our-projects .blocks_up img:nth-child(5),
	main .our-projects .blocks_up img:nth-child(6),
	main .our-projects .blocks_up .nth-child_4{
		width: 100%;
	}

	main .trade-in h1.title {
		margin-bottom: 100px;
	}
	main .trade-in .blocks .block {
		margin-bottom: 75px;
	}
	main .trade-in .blocks .block .block_up {
		flex-direction: column;
	}
	main .trade-in .blocks .block .block_up img {
		height: 80px;
		margin-right: 0;
		margin-bottom: 50px;
	}
	main .trade-in .blocks .block .block_up img {
		height: 100px;
	}
	main .trade-in .blocks .block .block_up h3 {
		font-size: 42px;
	}
	main .trade-in .blocks .block .block_down p.text {
		text-align: center;
		font-size: 28px;
	}

	main .adaptive {
		flex-direction: column;
	}
	main .adaptive .info {
		text-align: center;
		width: 80%;
		margin: 0 auto;
		padding: 100px 0 50px 0;
	}
	main .adaptive .info p.text {
		font-size: 28px;
		line-height: 1.5;
	}
	main .adaptive .info p.text-back {
		top: -35px;
		left: 50%;
		transform: translate(-50%);
	}
	main .adaptive .imgs {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	main .adaptive .imgs img {
		position: relative;
		bottom: 0;
	}
	main .adaptive .imgs img:nth-child(1) {
		top: 0;
		left: 50%;
		transform: translate(-50%);
		width: 125px;
		margin-bottom: 50px;
	}
	main .adaptive .imgs img:nth-child(2) {
		top: 10%;
		left: 50%;
		transform: translate(-50%);
		width: 250px;
		margin-bottom: 50px;
	}
	main .adaptive .imgs img:nth-child(3) {
		top: 10%;
		left: 50%;
		transform: translate(-50%);
		margin-bottom: 100px;
		width: 800px;
	}

	main .care {
		flex-direction: column;
	}
	main .care .info{
		width: 100%;
		text-align: center;
	}
	main .care .info h2 {
		font-size: 42px;
		margin-bottom: 50px;
		text-align: center
	}
	main .care .info p.text {
		font-size: 28px;
		line-height: 1.5;
	}

	main .first-place {
		text-align: center;
		flex-direction: column;
	}
	main .first-place .info {
		width: 100%;
	}
	main .care .info p.text-back {
		top: -35px;
		left: 50%;
		transform: translate(-50%);
	}

	main .contact .container {
		flex-direction: column;
		text-align: center
	}
	main .contact .text {
		width: 100%;
		margin-bottom: 50px;
		line-height: 1.5;
	}
	main .contact .text p.title {
		font-size: 42px;
		white-space: nowrap;
	}
	main .contact .text p.sub-title {
		font-size: 28px;
	}
	main .contact form {
		width: 100%;
	}
	main .contact form .inputs {
		flex-direction: column;
	}
	main .contact form .inputs input{
		width: 100%;
	}
	main .contact form .inputs input:first-child {
		border-right: 5px solid white;
	}
	main .contact form input, main .contact form textarea {
		padding: 20px 40px;
		font-size: 28px;
		text-align: center;
	}
	main .contact form .button {
		align-items: center;
		flex-direction: column;
	}
	main .contact form .button p.text_button {
		padding: 0;
		margin-bottom: 15px;
		font-size: 18px;
	}
	main .contact form .button button {
		padding: 20px 40px;
		font-size: 24px;
	}
}